ADDR = "0.0.0.0:8080"
DB_STRING = "postgres://postgres:postgres@localhost:5432/family?sslmode=disable"
JWT_SECRET = ""
CORS_ORIGINS = "http://localhost:4200"

# Токены proverkacheka.com через запятую (сканирование чеков)
PROVERKACHEKA_TOKENS = ""
